:root {
  --popup-bg-color: #495464;
  --panel-bg-color: #f4f4f2;
  --panel-header-text-color: #495464;
  --panel-content-text-color: #495464;
  --tab-bg-color: #495464;
  --tab-bg-color-hover: #e8e8e8;
  --tab-bg-color-active: #f4f4f2;
  --tab-bg-color-hover-not-active: #e8e8e8;
  --tab-text-color: #bbbfca;
  --tab-text-color-active: #495464;
  --border-color: #bbbfca;
  --pill-bg-color: #f4f4f2;
  --scrollbar-color: #f4f4f2;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: var(--popup-bg-color);
}

.normal-content {
  z-index: 1;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--panel-header-text-color);
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  color: var(--panel-content-text-color);
}

.color-piece {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 3px;
  border: 1px solid var(--border-color);
}

.color-piece:hover .pill {
  visibility: visible;
}

.pill {
  background-color: var(--pill-bg-color);
  padding: 3px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  visibility: hidden;
}



.nav {
  overflow: hidden;
  position: relative;
  z-index: -1;
  transform: translateY(3px);
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--tab-bg-color);
  height: 43px;
}

.tab {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
	overflow: hidden;
  color: var(--tab-text-color);
  transition-duration: .25s;
  border-radius: 5px 5px 0 0;
  user-select: none;
}

.tab:hover:not(.tab-active) {
  background-color: var(--tab-bg-color-hover-not-active);
}

.tab-active {
  color: var(--tab-text-color-active);
  background-color: var(--tab-bg-color-active);
}

.panels {
  background-color: var(--panel-bg-color);
  padding: 10px;
  border-radius: 5px;
}

.panel {
  overflow-y: auto;
  height: 400px;
  border-radius: 5px;
  display: none;
  scrollbar-width: thin;
  padding: 10px;
  border-radius: 5px;
  
}

.panel-active {
  display: block;
}


.hidden {
  display: none;
}