.content {
  display: flex;
  flex-direction: column;
}

.color-piece {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 30px;
  
}

.count-part {

}

.code-part {

}


ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: -webkit-inline-box;
  display: inline-flex;
}
ul li a {
  text-decoration: none;
  color: darkgray;
  padding: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid transparent;
}
ul li a:hover {
  color: gray;
}

.nav .active a {
  color: slateblue;
  border-bottom: 1px solid slateblue;
}
.nav .active a:hover {
  border-color: transparent;
  background: slateblue;
  color: white;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: flex;
}
